/laravelWebsite/db_data/
/userProfileService/db_data/
/services/userProfileAPI/db_data/
/services/userProfileAPI/userProfileAPIService/bin
/services/userProfileAPI/userProfileAPIService/.bash_history
.idea
**db_data/
**/.idea
**/.vscode
**/node_modules
**/bin
**/.bash_history
